# Environment
.env
.env.docker

# Virtual environments
venv/
.venv/
api/.venv/
api/venv/

# Python
__pycache__/
*.py[cod]

# Logs
*.log

# Uploaded files
api/uploaded_csvs/

# VS Code
.vscode/

# Database files
*.db
*.sqlite3

# Ignore roadmap
Architecture_Roadmap.md